@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
body {
    margin: 20px
}

button.fixed-sz {
  width: px !important;
}

label.small-lbl {
  font-size: 15px;

}

th.cursored {
    cursor: pointer;
}

.hidden {
    display: none;
}
.reset-option {
    display: none
}

.reset-button {
    margin: 6px 12px;
    /* background-color: rgb(255, 255, 255); */
    text-transform: uppercase
}

p {
    font-size: 14px
}
